<%= link_to "Edit the task", edit_task_path %>

<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p>
<% if @task.completed == true %>
<%= "This task is completed" %>
<% elsif %>
<%= "This task is not completed yet" %>
  <% end %>
</p>
<%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%> <br>

<%= link_to "Back to tasks", tasks_path(@task) %>
